
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4 wow flipInX">

  <!-- Footer Elements -->
  <div class="container">

      <!-- Call to action -->
      <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
          <h4 class="mb-1">
            <strong>Contáctanos a través de <mdb-icon fab icon="whatsapp" class="whats"></mdb-icon> al 5535625297</strong> 
          </h4>
        </li>
      </ul>
      <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><mdb-icon fas icon="cannabis"></mdb-icon> Created by <b>Oscar Moran</b> <br> {{currentDate | date: 'dd-mm-yyyy'}}  
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
