/* You can add global styles to this file, and also import other style files */
body{
    margin:0px;
    padding: 0px;
    background-color:rgb(87, 83, 83);
}

.fontBigger{
    font-size: 70px;
}
.whats{
    color:rgb(23, 207, 23);
    font-size: 30px;
} 